@model App.Web.Models.Customer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <form asp-controller="Home" asp-action="Save" method="post">
        <div class="form-group">
            <label asp-for="Name">Ad</label>
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <input type="submit" value="Kaydet" />
        </div>
    </form>
</div>
